<mat-drawer-container class="w-screen h-screen transition-colors duration-300" [class.dark-theme]="isDarkTheme">
  <mat-drawer #drawer class="p-5 min-w-[200px]" mode="side">
    <mat-list role="list">
      @for (item of navigation; track item) {
        <mat-list-item [routerLink]="item.link" [routerLinkActive]="item.link" role="listitem">
          {{item.label}}
        </mat-list-item>
      }
    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="flex flex-col">
    <mat-toolbar color="primary" class="!flex !flex-row !items-center">
      <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>My App</span>

      <button mat-icon-button
              (click)="toggleTheme()"
              [attr.aria-label]="isDarkTheme ? 'Switch to light theme' : 'Switch to dark theme'">
        <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet/>
  </mat-drawer-content>
</mat-drawer-container>
